@use '../../sass/mixins' as *;
@use '../../sass/variables' as *;

.home__products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}