@use '../../sass/mixins' as *;
@use '../../sass/variables' as *;

.search {
  padding-top: 52px;
  padding-bottom: 96px;
  display: flex;
  align-items: center;
  column-gap: 35px;
  justify-content: center;
  &__input-container {
    position: relative;
  }

  &__search-logo {
    position: absolute;
    left: 10px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
  }

  input {
    padding-left: 45px;
    height: 48px;
    width: 1096px;
    border-radius: 10px;
    color: $black;
    border: 1px solid $border-input-color;
    font-size: 1rem;
    
  }
  &__img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 500ms ease;
    &:hover {
      opacity: 70%;
      transition: 500ms ease;
      transform: scale(1.1);
    }
  }
}

@media (max-width: 1230px) {
  .search {
    padding-top: 52px;
    padding-bottom: 96px;
    display: flex;
    align-items: center;
    column-gap: 35px;
    justify-content: center;
    &__input-container {
      position: relative;
    }
  
    &__search-logo {
      position: absolute;
      left: 10px;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
    }
  
    input {
      padding-left: 45px;
      height: 48px;
      width: 850px;
      border-radius: 10px;
      color: $black;
      border: 1px solid $border-input-color;
      font-size: 1rem;
      
    }
    &__img {
      width: 24px;
      height: 24px;
      cursor: pointer;
      transition: 500ms ease;
      &:hover {
        opacity: 70%;
        transition: 500ms ease;
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 990px) {
  .search {
    padding-top: 52px;
    padding-bottom: 96px;
    display: flex;
    align-items: center;
    column-gap: 35px;
    justify-content: center;
    &__input-container {
      position: relative;
    }
  
    &__search-logo {
      position: absolute;
      left: 10px;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
    }
  
    input {
      padding-left: 45px;
      height: 48px;
      width: 570px;
      border-radius: 10px;
      color: $black;
      border: 1px solid $border-input-color;
      font-size: 1rem;
      
    }
    &__img {
      width: 24px;
      height: 24px;
      cursor: pointer;
      transition: 500ms ease;
      &:hover {
        opacity: 70%;
        transition: 500ms ease;
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 700px) {
  .search {
    padding-top: 52px;
    padding-bottom: 96px;
    display: flex;
    align-items: center;
    column-gap: 35px;
    justify-content: center;
    &__input-container {
      position: relative;
    }
  
    &__search-logo {
      position: absolute;
      left: 10px;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
    }
  
    input {
      padding-left: 45px;
      height: 48px;
      width: 400px;
      border-radius: 10px;
      color: $black;
      border: 1px solid $border-input-color;
      font-size: 1rem;
      
    }
    &__img {
      width: 24px;
      height: 24px;
      cursor: pointer;
      transition: 500ms ease;
      &:hover {
        opacity: 70%;
        transition: 500ms ease;
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 545px) {
  .search {
    padding-top: 52px;
    padding-bottom: 96px;
    display: flex;
    align-items: center;
    column-gap: 35px;
    justify-content: center;
    &__input-container {
      position: relative;
    }
  
    &__search-logo {
      position: absolute;
      left: 10px;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
    }
  
    input {
      padding-left: 45px;
      height: 48px;
      width: 100%;
      border-radius: 10px;
      color: $black;
      border: 1px solid $border-input-color;
      font-size: 1rem;
      
    }
    &__img {
      width: 24px;
      height: 24px;
      cursor: pointer;
      transition: 500ms ease;
      &:hover {
        opacity: 70%;
        transition: 500ms ease;
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 360px) {
  .search {
    padding-top: 52px;
    padding-bottom: 96px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    justify-content: center;
    &__input-container {
      position: relative;
      width: 65%;
    }
  
    &__search-logo {
      position: absolute;
      left: 10px;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
    }
  
    input {
      padding-left: 45px;
      height: 48px;
      width: 100%;
      border-radius: 10px;
      color: $black;
      border: 1px solid $border-input-color;
      font-size: 1rem;
      
    }
    &__img {
      width: 24px;
      height: 24px;
      cursor: pointer;
      transition: 500ms ease;
      &:hover {
        opacity: 70%;
        transition: 500ms ease;
        transform: scale(1.1);
      }
    }
  }
}